#canvas {
    border: solid 3px #191919;
    background-color: #fff;
    cursor: pointer;
}

#canvasInAPerfectWorld {
	display: none;
}

html, body {
    height: 100%;
    background-color: #333;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.5);
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: #333 
                url('ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

#title {
	margin-bottom: 0;
	font-size: 1.75rem;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#buttons {
	margin-top: 20px;
}

.btn {
	padding: .75rem 1.25rem;
    font-weight: bold;
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
    font-size: 1.25rem;
    border-radius: .3rem;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    touch-action: manipulation;
    text-decoration: none;
}