<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
	<script src="{% static "jquery.min.js" %}"></script>
</head>
<body>
	<h3 id="title">OCR</h3>
	<canvas id="canvasInAPerfectWorld" width="280" height="280"></canvas>
	<div id="canvasDiv"></div>
	<div id="buttons">
		<a href="#" class="btn clear">Effacer</a>
		<a href="#" class="btn search">Rechercher</a>
	</div>
	<div class="modal">
		
	</div>
	<script type="text/javascript">
		context = document.getElementById('canvasInAPerfectWorld').getContext("2d");
		var canvasDiv = document.getElementById('canvasDiv');
		canvas = document.createElement('canvas');
		canvas.setAttribute('width', 280);
		canvas.setAttribute('height', 280);
		canvas.setAttribute('id', 'canvas');
		canvasDiv.appendChild(canvas);
		if(typeof G_vmlCanvasManager != 'undefined') {
			canvas = G_vmlCanvasManager.initElement(canvas);
		}

		context = canvas.getContext("2d");
		$('#canvas').mousedown(function(e){
			var mouseX = e.pageX - this.offsetLeft;
			var mouseY = e.pageY - this.offsetTop;

			paint = true;
			addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop);
			redraw();
		});

		$('#canvas').mousemove(function(e){
			if(paint){
				addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
				redraw();
			}
		});

		$('#canvas').mouseup(function(e){
			paint = false;
		});

		$('#canvas').mouseleave(function(e){
			paint = false;
		});

		var clickX = new Array();
		var clickY = new Array();
		var clickDrag = new Array();
		var paint;

		function addClick(x, y, dragging)
		{
			clickX.push(x);
			clickY.push(y);
			clickDrag.push(dragging);
		}

		$('.clear').on('click',function(){
			clear();
		});

		function clear() {
			clickX = new Array();
			clickY = new Array();
			clickDrag = new Array();
			context.clearRect(0, 0, context.canvas.width, context.canvas.height);
			context.fillStyle = "#fff";
			context.fillRect(0,0,280,280);
		}

		function redraw(){
			context.clearRect(0, 0, context.canvas.width, context.canvas.height); // Clears the canvas

			context.strokeStyle = "#000";
			context.fillStyle = "#fff";
			context.fillRect(0,0,280,280);
			context.lineJoin = "round";
			context.lineWidth = 10;
					
			for(var i=0; i < clickX.length; i++) {		
			context.beginPath();
			if(clickDrag[i] && i){
				context.moveTo(clickX[i-1], clickY[i-1]);
			}else{
				context.moveTo(clickX[i]-1, clickY[i]);
			}
			context.lineTo(clickX[i], clickY[i]);
			context.closePath();
			context.stroke();
			}
		}

		function upload(){
			var canvas = document.getElementById('canvas');
			var dataURL = canvas.toDataURL();
			$("body").addClass("loading");
			$.ajax({
				type: "POST",
				url: "search",
				data:{
					'imageBase64': dataURL
				},
				success: function(response) {
					$("body").removeClass("loading");
					console.log("response : ", typeof(response ))
					console.log(response.result);
					alert("Le numéro trouvé est : "+response.result);
					clear();
		        }
			}).done(function() {
				$("body").removeClass("loading");
			});
		}

		$('.search').on('click',function(){
			upload();
		});
	</script>
</body>